@charset "utf-8"
$colorF: #FFF
$infoWindow_width: 330px
=w-h($width,$height)
    width: $width
    height: $height
=w($width)
    width: $width
=h($height)
    height: $height
=lh($line-height)
    line-height: $line-height
=c($color)
    color: $color
=fs($fontSize)
    font-size: $fontSize
=block
    display: block
=bcolor($bcolor)
    background-color: $bcolor
// 覆盖物通用样式
=auto-overlay
    position: absolute
    +bcolor(#EE5D5B)
    +c($colorF)
    padding: 2px
    +lh(18px)
    white-space: nowrap
    MozUserSelect: none
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    // &:hover
    //     +bcolor(#6BADCA)
.cont .inner .top ul li
    cursor: pointer
.cont .inner .top ul li.on
    cursor: default
// 范围覆盖物(1级与2级通用)
.range-overlay
    +auto-overlay
    +fs(12px)
    // 圆形覆盖物
    +w-h(70px,70px)
    border-radius: 50%
    span
        +c($colorF)
        text-align: center
//　3级覆盖物添加父级元素
.building-parent
    position: absolute
    // +w-h(auto,auto)
    +lh(18px)
    white-space: nowrap
    MozUserSelect: none
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    span
        +fs(14px)
    // 建筑物　信息窗口(3级使用)
    .building-infoWindow
        position: absolute
        // top: -450px !important
        bottom: 50px
        left: -150px
        +w-h($infoWindow_width !important,auto !important)
        +bcolor($colorF)
        border-radius: 5px
        box-shadow: 5px 5px 5px rgba(0,0,0,.1)
        h2
            +h(50px)
            +lh(55px)
            margin: 0
            padding: 0 15px
            font:
                size: 16px
                weight: 400
            +c(#555)
            cursor: default
            // span.star 星星样式不适用
            span.price
                float: right
                +lh(14px)
                padding-top: 20px
                cursor: pointer
        p
            // +h(235px)
            +w-h(300px,235px)
            padding: 0 15px
            margin: 0
            a
                +block
                +h(235px)
                img
                    +w-h($infoWindow_width - (15px * 2),235px)
        ul
            +block
            +w-h(300px !important,auto !important)
            +bcolor($colorF)
            padding: 0 15px 0 15px
            li
                +h(35px)
                +lh(35px)
                padding: 8px 0
                +c(#B2B2B2)
                border-bottom: 1px #DFDFDF solid
                a
                    +block
                    +h(35px)
                    +c(#B2B2B2)
                    +fs(14px)
                    cursor: default
                    span
                        +block
                        +w-h(67px,35px)
                        +lh(35px)
                        float: left
                    span.w110
                        +w(110px)
                    img
                        +w-h(56px,35px)
            li:last-child
                border: none
            li.more
                text-align: center
                a
                    display: inline-block
                    cursor: pointer
                    &:hover
                        color: #B2B2B2 - 80%
        &:before
            position: absolute
            content: ''
            left: 145px
            bottom: -24px
            +w-h(0,0)
            border: transparent 12px solid
            border-top: 12px solid $colorF
    // 建筑物覆盖物(3级使用)
    .building-overlay
        position: relative
        .arrow
            position: absolute
            top: 25px
            // left: 45%
            background: url(../images/label.png) no-repeat
            +fs(18px)
            overflow: hidden
            background-position: 0 0
            +w-h(11px,10px)
        span
            +auto-overlay
            position: relative
            top: 0
            left: -33px
            min-width: 70px
            padding: 4px 7px
            +fs(14px)
            border-radius: 5px
        &:hover
            span
                +bcolor(#6BADCA)
            .arrow
                background-position: 0px -20px

// 添加百度官方API信息窗口　使用CSS控制这个信息窗口的样式隐藏占位
.BMap_pop,.BMap_shadow
    visibility: hidden
