@charset "utf-8"
=w-h($width,$height)
    width: $width
    height: $height
// 覆盖物通用样式
=auto-overlay
    position: absolute
    background-color: #EE5D5B
    color: white
    padding: 2px
    line-height: 18px
    white-space: nowrap
    MozUserSelect: none
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    &:hover
        background-color: #6BADCA
.cont .inner .top ul li
    cursor: pointer
.cont .inner .top ul li.on
    cursor: default
// 范围覆盖物(1级与2级通用)
.range-overlay
    +auto-overlay
    font-size: 12px
    // 圆形覆盖物
    +w-h(70px,70px)
    border-radius: 50%
    span
        text-align: center
// 弹出信息窗口
.BMap_bubble_content
    position: relative
    float: left
    +w-h(390px !important,275px !important)
    background-color: #FFF
    h2
        height: 65px
        // padding: 0 30px
        margin: 0
        font:
            size: 20px
            weight: border
        line-height: 65px
        color: #727272
        span.star
            padding-left: 10px
            i
                padding-left: 3px
                font:
                    style: normal
                    size: 10px
                color: #B2B2B2
        span.price
            float: right
            font-size: 10px
            color: #B2B2B2
            i
                font:
                    size: 14px
                    style: normal
                color: #727272
                padding: 0 3px
    p
        height: 235px
        margin: 0px
        padding: 0px
        a
            display: block
            height: 235px
    ul
        display: block
        +w-h(100%,auto)
        background-color: #FFF
        padding-top: 10px
        li
            height: 35px
            line-height: 35px
            padding: 10px 0
                left: 15px
            color: #B2B2B2
            border-bottom: 1px #DFDFDF solid
            a
                display: block
                height: 35px
                font-size: 14px
                color: #B2B2B2
                span
                    display: block
                    +w-h(70px,35px)
                    line-height: 35px
                    float: left
                    padding: 5px
                span.w110
                    width: 110px
                img
                    float: right
            &:last-child
                border: none
        li.more
            text-align: center
// 官方信息窗口　阴影去除
.BMap_shadow
    display: none
//　3级覆盖物添加父级元素
.building-parent
    position: absolute
    line-height: 18px
    white-space: nowrap
    MozUserSelect: none
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    span
        font-size: 4px
    // 建筑物　信息窗口(3级使用)
    .building-infoWindow
        position: absolute
        top: -320px
        +w-h(300px,300px)
        background-color: red
    // 建筑物覆盖物(3级使用)
    .building-overlay
        +auto-overlay
        padding: 4px 7px
        height: 18px
        border-radius: 5px
        .arrow
            background: url(../images/label.png) no-repeat
            font-size: 18px
            overflow: hidden
            background-position: 0 0
            +w-h(11px,10px)
        span
            font-size: 4px
        &:hover .arrow
            background-position: 0px -20px
